---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Grid from "../components/Grid.astro";
import ProductCard from "../components/ProductCard.astro";
import Features from "../components/Features.astro";
import CallToAction from "../components/CallToAction.astro";
import TestimonialCard from "../components/TestimonialCard.astro";
import QuoteForm from "../components/QuoteForm";

// Content Fetching: List four most recent work projects
const bestSellers = (await getCollection("products"))
	.filter((product) => product.data.isBestSeller)
	.slice(0, 4); // Get the top 4

const products = await getCollection("products");
const testimonials = await getCollection("testimonials");
---

<BaseLayout>
	<div class="flex flex-col gap-20 translate-y-[-80px]">
		<header
			class="hero-section overflow-hidden relative flex flex-col min-h-[528px] h-[100svh] md:h[95svh] bg-base-darkest rounded-3xl place-content-center items-center md:mx-8 md:mt-6 p-8 text-white"
		>
			<h1 class="max-w-[20ch] font-normal md:text-center md:text-6xl">
				Custom Packaging that leaves an <strong>impact</strong>
			</h1>
			<div
				class="trusted-by invisible lg:visible absolute bottom-0 py-10 flex gap-12 sm:min-w-[40%] max-w-[90%]"
			>
				<img
					src="./assets/other-logos/neighborhood-logo.svg"
					alt=""
					loading="lazy"
					width="128"
					height="50"
					class="max-h-[72px]"
				/>
				<img
					src="./assets/other-logos/notes-logo.svg"
					alt=""
					loading="lazy"
					width="128"
					height="50"
					class="max-h-[72px]"
				/>
				<img
					src="./assets/other-logos/sipn-logo.svg"
					alt=""
					loading="lazy"
					width="128"
					height="50"
					class="max-h-[72px]"
				/>
				<img
					src="./assets/other-logos/pdl-logo.svg"
					alt=""
					loading="lazy"
					width="128"
					height="50"
					class="max-h-[72px]"
				/>
				<img
					src="./assets/other-logos/slash-logo.svg"
					alt=""
					loading="lazy"
					width="128"
					height="50"
					class="max-h-[72px]"
				/>
				<img
					src="./assets/other-logos/wake-n-bake.svg"
					alt=""
					loading="lazy"
					width="128"
					height="50"
					class="max-h-[72px]"
				/>
			</div>
		</header>

		<main class="wrapper space-y-24">
			<Features />
			<section class="space-y-6">
				<header class="flex justify-between items-center">
					<div class="flex flex-col max-w-[50ch]">
						<h3>Best Sellers</h3>
						<p>
							Explore our best selling products across a range of categories
						</p>
					</div>
					<CallToAction href="/products/">View All</CallToAction>
				</header>
				<div class="gallery">
					<Grid variant="offset">
						{
							bestSellers.map((product) => (
								<li>
									<ProductCard product={product} />
								</li>
							))
						}
					</Grid>
				</div>
			</section>
			<section id="testimonials">
				<header class="wrapper flex justify-between items-center">
					<div class="flex flex-col max-w-[50ch]">
						<h3>Testimonials</h3>
						<p>Trust is at the core of everything we do</p>
					</div>
				</header>
				<div id="testimonial-slider-container">
					<div
						id="testimonial-slider"
						class="flex w-full overflow-scroll px-5 xl:px-16 gap-6 py-8"
					>
						{
							testimonials.map((testimonial) => (
								<TestimonialCard
									testimonialText={testimonial.data.testimonialText}
									companyLogoUrl={testimonial.data.companyLogoUrl}
									author={testimonial.data.author}
								/>
							))
						}
					</div>
				</div>
			</section>
			<section
				id="quote-form"
				class="rounded-3xl bg-secondary-lighter grid place-items-center p-6"
			>
				<QuoteForm client:load products={products} />
			</section>
		</main>
	</div>
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			const slider: any = document.getElementById("testimonial-slider");
			let isDown = false;
			let startX: number | undefined;
			let scrollLeft: number | undefined;

			slider.addEventListener("mousedown", (e: { pageX: number }) => {
				isDown = true;
				slider.classList.add("active");
				startX = e.pageX - slider.offsetLeft;
				scrollLeft = slider.scrollLeft;
			});
			slider.addEventListener("mouseleave", () => {
				isDown = false;
				slider.classList.remove("active");
			});
			slider.addEventListener("mouseup", () => {
				isDown = false;
				slider.classList.remove("active");
			});
			slider.addEventListener(
				"mousemove",
				(e: { preventDefault: () => void; pageX: number }) => {
					if (!isDown) return;
					e.preventDefault();
					const x = e.pageX - slider.offsetLeft;
					const walk = (x - startX) * 3; //scroll-fast
					slider.scrollLeft = scrollLeft - walk;
				},
			);
		});
	</script>
	<style>
		.hero-section {
			background-image: url("/assets/hero-background.png");
			background-repeat: no-repeat;
			background-size: cover;
		}
		#testimonial-slider-container {
			position: relative;
		}
		#testimonial-slider {
			cursor: grab;
		}
		#testimonial-slider-container::before,
		#testimonial-slider-container::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			width: 32px;
			z-index: 2;
		}

		#testimonial-slider-container::before {
			left: 0;
			background: linear-gradient(to right, #ffffff, transparent);
		}

		#testimonial-slider-container::after {
			right: 0;
			background: linear-gradient(to left, #ffffff, transparent);
		}
	</style>
</BaseLayout>
